/* Edit of post part */

.edit_post > .content {
  overflow: hidden;
  border-radius: 15px;
}

.edit_post > .content > .post > .user {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
}

.edit_post > .content > .post > .user > .names {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.edit_post > .content > .post > .user > .names > .name {
  font-size: 16pt;
  color: var(--txt_color);
}

.edit_post > .content > .post > .user > .names > .url_name {
  font-size: 14pt;
  color: var(--p_color);
}

.edit_post > .content > .post > .user > .names > .date {
  font-size: 8pt;
  color: var(--contrast_dark);
}

.edit_post > .content > .post > .user > .img_cont {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.edit_post > .content > .post > .content_edit > .all_media {
  min-height: 50px;
  min-width: 50px;
  position: relative;
  margin-bottom: 0;
}

.mhce,
.edit_post
  > .content
  > .post
  > .content_edit
  > .all_media
  > .media
  > .grid_elem {
  max-height: 400px;
}

.edit_post
  > .content
  > .post
  > .content_edit
  > .all_media
  > .grid_media
  > .img_cont
  > span {
  padding: 190px 0;
  font-size: 52pt;
  color: var(--txt_color);
}

.edit_post > .content > .post > .content_edit > .title {
  padding: 15px 10px;
  margin: 15px 5px;
  outline: 0;
  background-color: var(--contrast_light);
  border-bottom: var(--p_color) 3px solid;
  overflow: scroll;
  max-height: 100px;
}

.edit_post > .content > .post > .content_edit > .edit_image_actions {
  display: flex;
  align-items: center;
  padding: 5px 5px 0 5px;
}

.edit_post > .content > .post > .content_edit > .edit_image_actions > .btn_ok {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.edit_post > .content > .post > .content_edit > .edit_image_actions button {
  color: var(--txt_color);
  transition: all 0.3s ease-out;
}

.edit_post
  > .content
  > .post
  > .content_edit
  > .edit_image_actions
  button:hover {
  color: var(--p_color);
}

.edit_post > .content > .btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 5px 5px 5px;
}

.edit_post > .content > .btns > button {
  padding: 5px;
  color: var(--txt_color);
  transition: all 0.3s ease-out;
  border: var(--txt_color) 3px solid;
  border-radius: 15px;
}

.edit_post > .content > .btns > button:hover {
  color: var(--p_color);
  border-color: var(--p_color);
}

.user > .img_and_name {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  position: relative;
  gap: 5px;
}

.actions > .to_click {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.actions > .more_btn_cont > button > span {
  font-size: 22pt;
}

.actions > ul {
  list-style: none;
  background-color: var(--p_color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 99999;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  max-height: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.actions > ul > li > button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 5px;
}

.actions > .more_btn_cont > button,
.actions > ul > li > button {
  color: var(--txt_color);
  transition: all 0.3s ease-out;
}

.actions > .more_btn_cont > button:hover {
  color: var(--p_color);
}

.actions > ul > li > button:hover {
  color: var(--txt_s_color);
}
