.post_input {
  display: flex;
  flex-direction: column;
  border: var(--p_color) 3px solid;
  border-radius: 20px;
  overflow: hidden;
}

[placeholder]:empty:before {
  content: attr(placeholder);
  text-align: center;
  color: gray;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: text;
}

[placeholder]:empty:focus::before {
  content: "";
}

.content {
  height: 100px;
  padding: 15px;
  outline: 0;
  overflow-y: scroll;
  overflow: hidden;
  color: var(--txt_color);
}

.imgs_vids {
  display: flex;
  gap: 3px;
}

.options {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--p_color);
  padding: 5px 25px;
}

.upload {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.upload > button {
  font-size: 12pt;
  color: var(--txt_color);
  transition: all 0.3s ease-out;
}

.upload > button:hover {
  color: var(--txt_s_color);
}

.show_imgs,
.show_imgs > img,
.show_imgs > video {
  height: 100px;
}
