<div class="noOnePost err_cont" *ngIf="posts_to_show.length == 0">
  <span class="material-symbols-outlined">public_off</span>
  <p>{{ noOnePost }}</p>
</div>
<div class="allPosts">
  <div class="post" *ngFor="let cpost of posts_to_show; let i = index">
    <div class="all_content">
      <div class="editPost editContainer" #edit_post>
        <div class="content">
          <div class="post">
            <div class="user">
              <div class="imgCont">
                <img src="{{ user.image || def_person_img }}" alt="" />
              </div>
              <div class="names">
                <p class="name">
                  {{ cpost.user_of_post.name }}
                </p>
                <p class="url_name">@{{ cpost.user_of_post.url_name }}</p>
                <p class="date">
                  {{ tools.formatDate(cpost.post.date_added) }}
                </p>
              </div>
            </div>
            <div class="content_edit">
              <div class="media" #media>
                <button
                  #edit_post_imgs_btn
                  class="editBtn edit_post_imgs_btn"
                  (click)="editImagesOfPost()"
                >
                  <span class="material-symbols-outlined">edit</span>
                </button>
                <div class="grid_media">
                  <div class="imgCont" *ngIf="cpost.post.images.length == 0">
                    <span class="material-symbols-outlined"
                      >image_not_supported</span
                    >
                  </div>
                  <div
                    class="imgCont grid_elem"
                    *ngFor="
                      let img_or_vid of cpost.post.images;
                      let img_i = index
                    "
                    [style.grid-row]="
                      img_i == 0 && cpost.post.images.length > 2
                        ? '1/' + cpost.post.images.length
                        : ''
                    "
                  >
                    <img
                      src="{{ img_or_vid }}"
                      alt=""
                      *ngIf="
                        !img_or_vid.includes('.mp4') ||
                        !img_or_vid.includes('video/mp4')
                      "
                    />
                    <video
                      *ngIf="
                        img_or_vid.includes('.mp4') ||
                        img_or_vid.includes('video/mp4')
                      "
                      controls
                      autoplay
                      loop
                      [muted]="'muted'"
                    >
                      <source src="{{ img_or_vid }}" type="video/mp4" />
                    </video>
                  </div>
                </div>
              </div>
              <div
                class="edit_image_actions"
                #edit_image_actions
                *ngIf="showImgsInputPost && selectedPost == i"
              >
                <app-add-images-input
                  #imgs_input
                  [imgs_in_cloud]="cpost.post.images || []"
                ></app-add-images-input>
                <div class="btn_ok">
                  <button (click)="quitNewImgsOfPost(true)">
                    <span class="material-symbols-outlined">done</span>
                  </button>
                </div>
              </div>
              <div class="title" contenteditable="true" #title_posts>
                {{ cpost.post.title }}
              </div>
            </div>
          </div>
          <div class="btns">
            <button (click)="modalEditPost(false, i)">Ok</button>
          </div>
        </div>
      </div>
      <div class="user">
        <div class="imgAndName">
          <div class="imgCont">
            <img src="{{ user.image || def_person_img }}" alt="" />
          </div>
          <div class="names">
            <p class="name">
              {{ cpost.user_of_post.name }}
            </p>
            <p
              class="url_name"
              [routerLink]="['/' + cpost.user_of_post.url_name]"
            >
              @{{ cpost.user_of_post.url_name }}
            </p>
            <p class="date">
              {{ tools.formatDate(cpost.post.date_added) }}
            </p>
          </div>
        </div>
        <div *ngIf="canEditPost" class="actions">
          <div
            #opt_post_to_click
            class="toClick"
            (click)="hideOptions(i)"
          ></div>
          <div class="more_btn_cont">
            <button (click)="showOptions(i)">
              <span class="material-symbols-outlined">more_horiz</span>
            </button>
          </div>
          <ul #list_opt_post>
            <li>
              <button (click)="modalEditPost(true, i, cpost.post)">
                <span class="material-symbols-outlined">edit</span> Edit
              </button>
            </li>
            <li>
              <button (click)="deletePost(cpost.post.id)">
                <span class="material-symbols-outlined">delete</span> Delete
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="content">
        <div class="media grid_media" *ngIf="cposts_imgs[i].length > 0">
          <div
            class="imgCont grid_elem"
            *ngFor="let img_or_vid of cposts_imgs[i]; let img_i = index"
            [style.grid-row]="
              img_i == 0 && cposts_imgs[i].length > 2
                ? '1/' + cposts_imgs[i].length
                : ''
            "
          >
            <img
              src="{{ img_or_vid }}"
              alt=""
              *ngIf="!img_or_vid.includes('.mp4')"
            />
            <video
              *ngIf="img_or_vid.includes('.mp4')"
              controls
              autoplay
              loop
              [muted]="'muted'"
            >
              <source src="{{ img_or_vid }}" type="video/mp4" />
            </video>
          </div>
        </div>
        <div class="title">
          <p>{{ cpost.post.title }}</p>
        </div>
      </div>
      <app-likes
        [id_post]="cpost.post.id"
        [cant_likes]="cpost.likes.length"
      ></app-likes>
    </div>
    <app-comments [id_post]="cpost.post.id"></app-comments>
  </div>
</div>
<app-alert-component
  [msg]="alertError"
  *ngIf="alertError != ''"
></app-alert-component>
<app-load-screen *ngIf="showLoadScreen"></app-load-screen>
