<div class="comments">
  <h3 (click)="seeAllComments()" *ngIf="cpost.comments.length > 0">Comments</h3>
  <div class="sectionComments">
    <app-add-comment
      [idPost]="idPost"
      *ngIf="user.id != undefined"
    ></app-add-comment>
    <div
      class="allComments"
      *ngFor="let comment of cpost.comments; let i = index"
    >
      <div class="comment" *ngIf="comment.id_post == cpost.post.id && i < 5">
        <div class="imgCont user">
          <img
            src="{{
              cpost.user_of_post.image
                ? cpost.user_of_post.image
                : def_person_img
            }}"
            alt=""
            [routerLink]="['/' + cpost.user_of_comments[i].url_name]"
          />
        </div>
        <div class="userComment">
          <div class="nameAndActions">
            <h4 [routerLink]="['/' + cpost.user_of_comments[i].url_name]">
              {{ cpost.user_of_comments[i].name }}
            </h4>
            <div
              class="actions"
              *ngIf="cpost.user_of_comments[i].id == user.id"
            >
              <button
                class="editBtn"
                (click)="updateComment(comment.id, i)"
                #edit_comment_btn
              >
                {{ editStr }}
              </button>
              <button class="deleteBtn" (click)="deleteComment(comment.id)">
                delete
              </button>
            </div>
          </div>
          <p #comment_body>{{ comment.comment }}</p>
          <div #imgs_cont class="imgsOrVids">
            <div class="imgs" *ngFor="let img of comment.images">
              <img *ngIf="img != undefined" src="{{ img }}" alt="" />
            </div>
          </div>
          <app-add-images-input
            [imgsInCloud]="comment.images || []"
            *ngIf="showImagesInput && actualElem == i"
          ></app-add-images-input>
        </div>
      </div>
    </div>
    <div class="seeMoreCont" *ngIf="cpost.comments.length > 5">
      <button (click)="seeAllComments()">See more</button>
    </div>
  </div>

  <!-- All comments modal -->

  <div class="allCommentsCont modalContainer" #all_comments_cont>
    <div class="content">
      <div class="closeCont">
        <p (click)="hideAllComments()">X</p>
      </div>
      <app-add-comment
        [idPost]="idPost"
        *ngIf="user.id != undefined"
      ></app-add-comment>
      <div class="commentsCont">
        <div
          class="allComments"
          *ngFor="let comment of cpost.comments; let i = index"
        >
          <div class="comment" *ngIf="comment.id_post == cpost.post.id">
            <div class="imgCont user">
              <img
                src="{{
                  cpost.user_of_post.image
                    ? cpost.user_of_post.image
                    : def_person_img
                }}"
                alt=""
                [routerLink]="['/' + cpost.user_of_comments[i].url_name]"
              />
            </div>
            <div class="userComment">
              <div class="nameAndActions">
                <h4 [routerLink]="['/' + cpost.user_of_comments[i].url_name]">
                  {{ cpost.user_of_comments[i].name }}
                </h4>
                <div
                  class="actions"
                  *ngIf="cpost.user_of_comments[i].id == user.id"
                >
                  <button
                    class="editBtn"
                    (click)="updateComment(comment.id, i, true)"
                    #edit_comment_btn_all
                  >
                    {{ editStr }}
                  </button>
                  <button class="deleteBtn" (click)="deleteComment(comment.id)">
                    delete
                  </button>
                </div>
              </div>
              <p #comment_body_all>{{ comment.comment }}</p>
              <div #imgs_cont_all class="imgsOrVids">
                <div class="imgs" *ngFor="let img of actualComments[i].images">
                  <img *ngIf="img != undefined" src="{{ img }}" alt="" />
                </div>
              </div>
              <app-add-images-input
                [imgsInCloud]="actualComments[i].images || []"
                *ngIf="showImagesInputAll && actualElem == i"
              ></app-add-images-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-load-screen *ngIf="showLoadScreen"></app-load-screen>
