.allComments > .comment,
.addComment {
  display: flex;
  background-color: #079;
}

.allComments > .comment > .user,
.addComment > .userImg > .user {
  height: 50px;
  width: 50px;
}

.allComments > .comment > .userComment > .imgs > img {
  height: 120px;
  width: auto;
}
