.errorCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.errorCont > .logo > img {
  height: 300px;
}

.errorCont > .logo > span {
  font-size: 300px;
  color: #6b0000;
  position: absolute;
}

.errorCont > h2 {
  font-size: 38pt;
  color: var(--p_color);
}

.errorCont > p {
  font-size: 18pt;
}

.errorCont > p > a {
  color: var(--txt_color);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.errorCont > p > a:hover {
  color: var(--p_color);
}
