<div *ngIf="err" class="errorPosts">
  <p>{{ err }}</p>
</div>
<div class="allPosts">
  <div class="post" *ngFor="let cpost of cposts; let i = index">
    <div class="all_content">
      <div class="user">
        <div class="imgCont">
          <img
            src="{{ cpost.user_of_post.image }}"
            alt=""
            [routerLink]="['/' + cpost.user_of_post.url_name]"
          />
        </div>
        <p class="name" [routerLink]="['/' + cpost.user_of_post.url_name]">
          {{ cpost.user_of_post.name }}
        </p>
      </div>
      <div class="content">
        <div class="media grid_media" *ngIf="cpost.post.images.length > 0">
          <div
            class="imgCont grid_elem"
            *ngFor="let imgOrVideo of cpost.post.images; let img_i = index"
            [style.grid-row]="
              img_i == 0 && cpost.post.images.length > 2
                ? '1/' + cpost.post.images.length
                : ''
            "
          >
            <img
              src="{{ imgOrVideo }}"
              alt=""
              *ngIf="!imgOrVideo.includes('.mp4')"
            />
            <video
              *ngIf="imgOrVideo.includes('.mp4')"
              controls
              loop
              [muted]="'muted'"
            >
              <source src="{{ imgOrVideo }}" type="video/mp4" />
            </video>
          </div>
        </div>
        <div class="title">
          <p>{{ cpost.post.title }}</p>
        </div>
      </div>
      <app-likes
        [idPost]="cpost.post.id"
        [cantLikes]="cpost.likes.length"
        [dateAdded]="cpost.post.date_added"
      ></app-likes>
    </div>
    <app-comments [idPost]="cpost.post.id"></app-comments>
  </div>
</div>
