<div *ngIf="err" class="errorSearchUsers err_cont">
  <span class="material-symbols-outlined">signal_disconnected</span>
  <p>{{ err }}</p>
</div>
<div class="allUsers">
  <h3>Users:</h3>
  <div
    class="user"
    [routerLink]="['/' + user['url_name']]"
    *ngFor="let user of users"
  >
    <div class="imgCont imgUser">
      <img src="{{ user['image'] }}" alt="" />
    </div>
    <div class="namesInfo">
      <div class="name">
        <p>{{ user.name }}</p>
      </div>
      <div class="urlname">
        <p>@{{ user["url_name"] }}</p>
      </div>
    </div>
  </div>
</div>
