.addImgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99999;
  height: 100vh;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.6);
}

.addImgCont > .display {
  background-color: #150;
}

.allImgs {
  display: flex;
}

.display {
  width: 450px;
}

.display > .allImgs {
  flex-wrap: wrap;
}

.allImgs > .showImgs > img {
  height: 120px;
}
