.all {
  display: flex;

  --menu-width: 250px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding-left: var(--menu-width);
  margin: auto;
  justify-content: center;
}

.content > .contSearch {
  margin: 5px 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
  border-bottom: var(--p_color) 3px solid;
}

.content > .contSearch > input {
  outline: 0;
  border: none;
  font-size: 12pt;
  padding: 5px 0;
  width: 100%;
}

.content > .contSearch > span {
  font-size: 22pt;
  color: var(--p_color);
}

nav {
  display: flex;
  position: fixed;
  width: var(--menu-width);
  height: 100vh;
  border-right: solid 3px var(--p_color);
}

ul,
ul > li,
ul > li > h1,
ul > li > h1 > a,
ul > li > .logo,
ul > li > .icon {
  display: flex;
  width: 100%;
}

ul {
  list-style: none;
  flex-direction: column;
}

ul > li > .icon {
  display: none;
  width: 50px;
  height: 50px;
}

ul > li .icon > span {
  font-size: 36pt;
  color: var(--p_color);
}

ul > li > .logo {
  margin: 10px 5px;
}

ul > li > .logo > img {
  height: 50px;
}

ul > li > h1 {
  gap: 5px;
}

ul > li > h1 > a {
  padding: 5px;
  align-items: center;
}

ul > li > h1 > a {
  color: var(--txt_color);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

ul > li > h1 > a:hover {
  color: var(--p_color);
}

ul > li > h1 > a > span {
  margin-right: 5px;
  font-size: 24pt;
  color: var(--p_color);
}
