<div class="all">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
  <nav>
    <ul>
      <li>
        <h1>
          <span class="material-symbols-outlined">home</span
          ><a routerLink="/home">Inicio</a>
        </h1>
        <h1>
          <span class="material-symbols-outlined">account_circle</span
          ><a routerLink="/profile">Profile</a>
        </h1>
        <h1><a href="" (click)="goProfile()">Login</a></h1>
        <h1><a routerLink="/signup">Sign in</a></h1>
        <h1>
          <span class="material-symbols-outlined">logout</span
          ><a href="" (click)="logout()">Logout</a>
        </h1>
      </li>
    </ul>
  </nav>

  <div class="content">
    <input
      class="search"
      type="text"
      placeholder="Search all you want!"
      (keyup.enter)="search($event)"
    />
    <router-outlet></router-outlet>
  </div>
</div>
