<div class="all">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
  <nav>
    <div class="icon">
      <span class="material-symbols-outlined">menu</span>
    </div>
    <div class="logo_cont">
      <div class="logo" routerLink="/home">
        <div class="logo_img"></div>
      </div>
    </div>
    <ul>
      <li class="link_elem">
        <h1>
          <a routerLink="/home"
            ><span class="material-symbols-outlined">home</span>Home</a
          >
        </h1>
      </li>
      <li class="link_elem">
        <h1>
          <a routerLink="/profile"
            ><span class="material-symbols-outlined">account_circle</span
            >Profile</a
          >
        </h1>
      </li>
      <li class="link_elem">
        <h1>
          <a href="" (click)="goProfile()"
            ><span class="material-symbols-outlined">login</span>Login</a
          >
        </h1>
      </li>
      <li class="link_elem">
        <h1>
          <a href="" (click)="logout()"
            ><span class="material-symbols-outlined">logout</span>Logout</a
          >
        </h1>
      </li>
      <li>
        <div class="modes">
          <div class="m_conts">
            <div class="m_cont ofLight">
              <div class="mode light">
                <span class="material-symbols-outlined">light_mode</span>
              </div>
            </div>
            <div class="m_cont ofDark">
              <div class="mode dark">
                <span class="material-symbols-outlined">dark_mode</span>
              </div>
            </div>
          </div>
          <div class="timeline">
            <hr />
            <div class="circle"></div>
          </div>
        </div>
      </li>
    </ul>
  </nav>

  <div class="content">
    <input
      class="search"
      type="text"
      placeholder="Search all you want!"
      (keyup.enter)="search($event)"
    />
    <router-outlet></router-outlet>
  </div>
</div>
