<div class="add_comment">
  <div class="add">
    <div class="comment_add">
      <div class="comment_input">
        <div
          class="content"
          placeholder="Add a comment"
          contenteditable="true"
          ngModel
          #comment_body
        ></div>
        <div class="options">
          <app-add-images-input
            [hover_color]="'var(--p_color)'"
            [font_size]="'28pt'"
          ></app-add-images-input>
          <div class="upload">
            <button class="post_data" (click)="comment()">Comment</button>
          </div>
        </div>
      </div>
      <div class="imgs-vids" *ngIf="imgs.length > 0">
        <div class="img_or_vid" *ngFor="let img of imgs; let i = index">
          <img src="{{ img.url }}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-alert-component
  [msg]="alert_error"
  *ngIf="alert_error != ''"
></app-alert-component>
<app-load-screen *ngIf="show_load_screen"></app-load-screen>
