<div *ngIf="user.id == undefined">
  <p>{{ err }}</p>
</div>
<div class="user" *ngIf="user.id != undefined">
  <div class="portrait">
    <div class="imgCont front">
      <img src="{{ user.portrait }}" alt="" />
    </div>
    <div class="editProfCont">
      <button>Edit profile</button>
    </div>
    <div class="imgCont userImg">
      <img src="{{ user.image }}" alt="" />
    </div>
  </div>
  <div class="info">
    <div class="names">
      <h3>{{ user.name }}</h3>
      <p>@{{ user.url_name }}</p>
    </div>
    <div class="bio">
      <p>{{ user.bio }}</p>
    </div>
    <div class="otherInfo">
      <div class="followers">0 followers</div>
      <div class="followed">0 followed</div>
      <div class="joined">
        <p>Was joined 24 of april of 2023</p>
      </div>
    </div>
  </div>
</div>
