<div class="user">
  <div class="portrait">
    <div class="imgCont front">
      <img
        src="https://img.remediosdigitales.com/7736b3/dodge-challenger_srt_demon-2018-1024-01/1366_2000.jpg"
        alt=""
      />
    </div>
    <div class="editProfCont">
      <button>Edit profile</button>
    </div>
    <div class="imgCont userImg">
      <img
        src="https://i1.sndcdn.com/artworks-000457487877-nh1r76-t240x240.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="info">
    <div class="names">
      <h3>Osmaldy Maldonado</h3>
      <p>@osmaldym</p>
    </div>
    <div class="bio">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt
        non augue sit amet aliquam. Vivamus sed suscipit risus, et ultricies
        nisl. Fusce sed condimentum mauris. Aenean ex leo, auctor sed iaculis
        id, porta a libero. Sed aliquam tristique lacus, nec blandit lacus
        volutpat eget. Sed a euismod quam. Fusce ullamcorper metus eu ligula
        feugiat ultrices. Fusce ut ligula dui. Etiam tincidunt venenatis tortor.
        Vestibulum sed nisi eu erat vestibulum semper. Nam lectus neque,
        vestibulum iaculis velit eu, accumsan pharetra dui.
      </p>
    </div>
    <div class="otherInfo">
      <div class="followers">0 followers</div>
      <div class="followed">0 followed</div>
      <div class="joined">
        <p>Was joined 24 of april of 2023</p>
      </div>
    </div>
  </div>
</div>
