/* All */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.all {
  --p_color: #258343;
  --s_color: #fff;
  --txt_color: #000;
  --txt_s_color: #fff;
  --contrast_light: #e4e4e4;
  --contrast_dark: #999;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  outline: 0;
}

/* General class "imgCont" for organizate the images. */

.imgCont {
  overflow: hidden;
  position: relative;
}

.imgCont > img,
.imgCont > video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*General post and comments "class", to apply global styles*/

.allPosts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.all_p_margin {
  margin-top: 20px;
}

.post {
  width: 100%;
}

.post > .all_content {
  border-radius: 25px;
  padding-top: 5px;
  border: var(--p_color) solid 3px;
  overflow: hidden;
}

.post > .all_content > .user,
.post > .all_content > .user > .imgAndName {
  display: flex;
  align-items: center;
}

.post > .all_content > .user .imgCont {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.post > .all_content > .content > .title {
  padding: 5px;
}

.post .media {
  height: 400px;
}

.post .media > .grid_media {
  width: 100%;
  height: 100%;
}

.grid_media {
  display: grid;
  gap: 3px;
  grid-template-rows: repeat(auto-fill);
}

.grid_media > .grid_elem:nth-child(n + 2) {
  grid-column: right;
}

/* For modals */

.modalContainer {
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
