<div class="options">
  <a routerLink="/">Seguidos</a>
  <a routerLink="/">Para ti</a>
</div>
<div *ngIf="err" class="errorPosts">
  <p>{{ err }}</p>
</div>
<div class="allPosts" *ngFor="let cpost of cposts; let i = index">
  <div class="post">
    <div class="user">
      <img class="imgCont" src="{{ cpost.user_of_post.image }}" alt="" />
      <p class="name">{{ cpost.user_of_post.name }}</p>
    </div>
    <div class="content">
      <div class="title">{{ cpost.post.title }}</div>
      <div class="media">
        <div class="imgCont" *ngFor="let imgOrVideo of cpost.post.images">
          <img
            src="{{ imgOrVideo }}"
            alt=""
            *ngIf="!imgOrVideo.includes('.mp4')"
          />
        </div>
      </div>
    </div>
    <div class="dateAndLikes">
      <p>{{ cpost.likes.length }} Likes&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p>Publicado el {{ cpost.post.date_added }}</p>
    </div>
    <div class="comments">
      <h3>Comments</h3>
      <div
        class="allComments"
        *ngFor="let comment of cpost.comments; let i = index"
      >
        <div class="comment" *ngIf="comment.id_post == cpost.post.id">
          <div class="imgCont user">
            <img src="{{ cpost.user_of_comments[i].image }}" alt="" />
          </div>
          <div class="userComment">
            <h4>{{ cpost.user_of_comments[i].name }}</h4>
            <div class="imgs" *ngFor="let img of comment.images">
              <img *ngIf="img != undefined" src="{{ img }}" alt="" />
            </div>
            <p>{{ comment.comment }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
