.post {
  width: 100%;
  background-color: #888;
}

.post > .user,
.post > .dateAndLikes {
  display: flex;
}

.post > .user > .imgCont {
  width: 80px;
  height: 80px;
}

.post > .content > .media > .imgCont {
  height: 400px;
}
