<div class="options">
  <a routerLink="/">Seguidos</a>
  <a routerLink="/">Para ti</a>
</div>
<div *ngIf="err" class="errorPosts">
  <p>{{ err }}</p>
</div>
<div class="allPosts" *ngFor="let post of posts; let i = index">
  <div class="post">
    <div class="user">
      <img class="imgCont" src="{{ users[i].image }}" alt="" />
      <p class="name">{{ users[i].name }}</p>
    </div>
    <div class="content">
      <div class="title">{{ post.title }}</div>
      <div class="media">
        <div class="imgCont" *ngFor="let imgOrVideo of post.images">
          <img
            src="{{ imgOrVideo }}"
            alt=""
            *ngIf="!imgOrVideo.includes('.mp4')"
          />
        </div>
      </div>
    </div>
    <div class="dateAndLikes">
      <p>{{ post.cant_likes }} Likes&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p>Publicado el {{ post.date_added }}</p>
    </div>
    <div class="comments">
      <h3>Comments</h3>
      <div class="allComments" *ngFor="let comment of comments">
        <div class="comment" *ngIf="comment.id_post == post.id">
          <div class="imgCont user">
            <img
              src="https://na.cdn.beatsaver.com/2fddb136bda7f9e29b4cb6621d6d8e0f8a43b126.jpg"
              alt=""
            />
          </div>
          <div class="userComment">
            <h4>Un individuo</h4>
            <div class="imgs" *ngFor="let img of comment.images">
              <img *ngIf="img != undefined" src="{{ img }}" alt="" />
            </div>
            <p>{{ comment.comment }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
