<div class="modal_container media_carrousel" #media_carrousel>
  <div class="container">
    <div class="close_cont">
      <span class="material-symbols-outlined" (click)="close()">close</span>
    </div>
    <div class="content">
      <div
        class="btn_action btn_izq"
        *ngIf="media.length > 1"
        (click)="toBefore()"
      >
        <span class="material-symbols-outlined">navigate_before</span>
      </div>
      <div class="all_media">
        <div class="img_or_vid" *ngFor="let img_or_vid of media; let i = index">
          <img *ngIf="i == showIndex" src="{{ img_or_vid }}" alt="" />
        </div>
      </div>
      <div
        class="btn_action btn_der"
        *ngIf="media.length > 1"
        (click)="toNext()"
      >
        <span class="material-symbols-outlined">navigate_next</span>
      </div>
    </div>
  </div>
</div>
